@page "/quotes/detail/{id:int}"


<div>
    @Id 
    <div>
        <p>@quote.Name</p>
        <p>@quote.Author</p>
    </div>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    private Quote? quote;

    protected override void OnParametersSet()
    {
        // base.OnParametersSet();
        quote= QuoteRepo.GetById(this.Id);
    }
}