@page "/todos"

@rendermode InteractiveServer
@attribute [StreamRendering]

@inject TodoService TodoService;
@inject NavigationManager NavigationManager
@inject AuthorService AuthorService;

<div class="mx-auto container">

    <div class="row my-2">
        <div class="col-6 d-flex">
            <input type="text" placeholder=" Enter Search" class="form-control"
                @onchange="HandleTodoFilter"
            />
            <button
                type="button" class=" btn btn-primary ms-2" @onclick="SearchTodobyName"> Search</button>
        </div>
    </div>
    
    <div>
        <a href="/todos/create" class="btn btn-primary p-2 my-2">Create</a>

        @if (authors is not null)
        {
            <div class="d-flex mt-4"> 
                <button class="badge text-bg-info mx-4 p-2 text-xxl-center @(selectAuthorId == 0 ? "bg-danger":"") " type="button">
                    <span @onclick="()=>ShowAll()" class="">All</span>
                </button>
                <AuthorListsComponent selectId="selectAuthorId" authors="authors" SelectTodo="ShowTodoById" />
            </div>
        }
    </div>
    @if (todos is null)
    {
        <p class="text-danger text-xxl-center">Loading ... </p>
    }
    else
    {
        <div class="row mt-4">
            @foreach (var todo in todos)
            {
                <div class="card my-2 p-2 col-4 g-1">
                    <h5 class="card-header">@todo.Author?.Name</h5>
                    <div class="card-body">
                        <h5 class="card-title">@todo.Title</h5>
                        <div  class="d-flex ">
                            <a href="/todos/edit/@todo.TodoId" class="btn btn-primary me-2">Edit</a>
                            @* <EditForm Model="todo" FormName="@($"todo-delete-{todo.TodoId}")"
                                      OnValidSubmit=" ()=>DeleteSubmit(todo.TodoId)">
                            </EditForm> *@
                                <button @onclick="()=>DeleteSubmit(todo.TodoId)" type="submit" class="btn btn-danger me-2 ">Delete</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code{
    [SupplyParameterFromForm]
    public List<Todo> todos { get; set; } = null!;

    public List<Author> authors { get; set; } = default!;

    public int selectAuthorId { get; set; }

    public string? searchTitle { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(200);
        todos =await TodoService.GetAllAsync() ?? new List<Todo>();
        authors = await AuthorService.GetAllAsync() ?? new List<Author>();
    }

    private async Task DeleteSubmit(int id)
    {
        var res = await TodoService.DeleteAsync(id);
        if (res)
        {
            // NavigationManager.Refresh();    
            todos = await TodoService.GetAllAsync() ?? new List<Todo>();
            selectAuthorId = 0;
        }
    }

    private async Task ShowTodoById(int id)
    {
        selectAuthorId = id;
        var author = await AuthorService.GetOneAsync(id); 
        if (author is not null && author.Todos is not null)
        {
            todos = author.Todos;
        }
    }

    private async Task ShowAll()
    {
        selectAuthorId = 0;
        todos = await TodoService.GetAllAsync() ?? new List<Todo>();
        NavigationManager.Refresh();
    }

    public void HandleTodoFilter(ChangeEventArgs args)
    {
        searchTitle = args.Value?.ToString() ?? string.Empty;
    }

    private async Task SearchTodobyName()
    {
        selectAuthorId = -1;
        if (!string.IsNullOrEmpty(searchTitle))
        {
            todos =await TodoService.GetTodosByName(searchTitle) ?? todos;
        }
        else
        {
            selectAuthorId = 0;

            todos = await TodoService.GetAllAsync() ?? new List<Todo>();
        }
    }

}